* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #f5f5f5;
}
.container {
  width: 60%;
  display: grid;
  gap: 0;
}
.tool-list {
  display: flex;
  list-style: none;
  padding: 0;
  overflow:hidden;
  gap: 10px;
  border: 1px solid #333;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 20px;
}
.tool--btn {
  width: 30px;
  height: 30px;
  display: block; 
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.tool--btn:hover{
  background-color: #ddd;
}
#output {
  height: 400px;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: white;
}